<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width,initial-scale=1">

<title>AI Voice Assistant</title>

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<link rel="stylesheet"
href="{{url_for('static',filename='style.css')}}">

</head>

<body>

<div class="container">

<h1>AI Voice Assistant</h1>

<p id="status">Click microphone to start</p>

<button id="mic">

<i class="fa-solid fa-microphone"></i>

</button>

<div id="response"></div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>